@use "../Utils/Color.scss";
@import "../Utils/Font_styles.scss";

@mixin xs {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin m {
  @media (min-width: 768px) and (max-width: 1279px) {
    @content;
  }
}
@mixin xl {
  @media (min-width: 1280px) {
    @content;
  }
}
body {
  overflow-x: hidden;
  margin: 0;
  font-family: "Open Sans", sans-serif;

  touch-action: manipulation;
}
@mixin reponsive_Collection {
  max-width: 786px;
  .Collection__category {
    width: 624px;
    height: 117px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .Collection__category-links {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      position: static;
      .Collection__category-links-title {
        object-fit: contain;
        width: 124px;
        height: 22px;
      }
      .Collection__category-links-indicators {
        gap: 24px;
        flex-wrap: wrap;
        flex-direction: row;
      }
    }
  }
  .Collection__explore {
    padding-top: 40px;
    .Collection__explore-img {
      .first-img {
        width: 255px;
        height: 220px;
      }
      .second-img {
        width: 516px;
        height: 480px;
      }
    }
  }
}
.Collection {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  object-fit: contain;
  flex-wrap: wrap;
  .Collection__category {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 486px;
    .Collection__category-title {
      display: inline-block;
      color: var(--neutral-text-900);
      @include heading-3;
    }
    .Collection__category-links {
      position: absolute;
      display: flex;
      gap: 16px;
      flex-direction: column;
      // justify-content: space-between;
      left: 0;
      bottom: 0;
      .Collection__category-links-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include body-2-regular;
        color: var(--theme-primary-1);
      }
      .Collection__category-links-elements {
        display: flex;
        flex-direction: column;
        gap: 16px;
        @include body-2-regular;
        color: var(--neutral-text-600);
        cursor: pointer;
      }
    }
  }
  .Collection__explore {
    .Collection__explore-img {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      box-sizing: border-box;
      gap: 15px;
      flex-wrap: wrap;
      .first-img {
        background-image: url("../Home_Image/Rectangle 152.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 255px;
        height: 220px;
      }
      .second-img {
        background-image: url("../Home_Image/Rectangle 150.png");
        object-fit: cover;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 516px;
        height: 480px;
      }
    }
    .Collection__explore-newest {
      display: flex;
      align-items: center;
      gap: 8px;
      box-sizing: border-box;
      height: 48px;
      &-content {
        @include body-2-regular;
        color: var(--theme-primary-1);
      }
    }
  }
  @include m {
    @include reponsive_Collection;
  }
  @include xs {
    // display: none;
    @include reponsive_Collection;
    max-width: 382px;
    .Collection__explore {
      .Collection__explore-img {
        flex-wrap: wrap-reverse;
        .first-img {
          width: 382px;
          height: 220px;
          object-fit: cover;
        }
        .second-img {
          max-width: 382px;
          max-height: 480px;
          object-fit: cover;
        }
      }
    }
  }
}
