@use "../Utils/Color.scss";
@import "../Utils/Font_styles.scss";

@mixin xs {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin m {
  @media (min-width: 768px) and (max-width: 1279px) {
    @content;
  }
}
@mixin xl {
  @media (min-width: 1280px) {
    @content;
  }
}
body {
  overflow-x: hidden;
  margin: 0;
  font-family: "Open Sans", sans-serif;

  touch-action: manipulation;
}
.categories {
  padding-top: 80px;
  box-sizing: border-box;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  @include m {
    width: 96.56%;
    gap: 18px;
  }
  .categories__item {
    height: 352px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23.59%;
    @include m {
      width: 48.47%;
    }
    @include xs {
      // max-width: 382px;
      width: 92.27%;
    }

    .categories__item-image {
      height: 84.09%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .first {
      background-image: url("../Home_Image/Rectangle 153.png");
    }
    .second {
      background-image: url("../Home_Image/Rectangle 153-2.png");
    }
    .third {
      background-image: url("../Home_Image/Rectangle 153-3.png");
    }
    .four {
      background-image: url("../Home_Image/Rectangle 153-4.png");
    }

    .categories__item-text {
      box-sizing: border-box;
      width: 100%;
      height: 48px;
      display: flex;
      gap: 8px;
      align-items: center;

      .categories__item-text-link {
        @include body-2-regular;
        color: var(--theme-primary-1);
        cursor: pointer;
      }
      &-arrow {
        width: 24px;
        height: 24px;
        cursor: pointer;
      }
    }
  }
}
