@use "../Utils/Color.scss";
@import "../Utils/Font_styles.scss";

@mixin xs {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin m {
  @media (min-width: 768px) and (max-width: 1279px) {
    @content;
  }
}
@mixin xl {
  @media (min-width: 1280px) {
    @content;
  }
}
body {
  overflow-x: hidden;
  margin: 0;
  font-family: "Open Sans", sans-serif;

  touch-action: manipulation;
}
.Banner {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  //   height: 200px;
  margin-top: 110px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 22px;
  @include m {
    // max-width: 786px;
  }
  @include xs {
    // max-width: 382px;
  }
  .Necklet,
  .Ring {
    flex: 1 1 0;
    @include m {
      flex: none;
      width: 96.56%;
      margin: 0 auto;
    }
    @include xs {
      flex: none;
      width: 100%;
    }
  }
  .Necklet {
    background-color: var(--neutral-background-50);
    display: flex;
    justify-content: space-between;
    .Necklet-img {
      background-image: url(../../assets/Banner-necklet.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      max-width: 196px;
      width: 100%;
    }
    .Necklet-features {
      z-index: 100;
      margin: 36px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      gap: 10px;
      .name {
        @include caption-2-regular;
        color: var(--neutral-text-600);
      }
      .caption {
        @include heading-3;
        color: var(--neutral-text-900);
        display: inline-block;
      }
      .link {
        display: flex;
        // flex-direction: row-reverse;
        gap: 8px;
        padding: 12px 0px 12px 16px;
        width: fit-content;

        @include body-2-regular;
        color: var(--theme-primary-1);
      }
    }
  }
  .Ring {
    background-color: var(--neutral-background-50);
    background-color: var(--neutral-background-50);
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;

    .Ring-img {
      background-image: url(../../assets/Banner-ring.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      max-width: 196px;
      width: 100%;
    }
    .Ring-features {
      margin: 36px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;
      .name {
        @include caption-2-regular;
        color: var(--neutral-text-600);
      }
      .caption {
        @include heading-3;
        color: var(--neutral-text-900);
      }
      .link {
        display: flex;
        // flex-direction: row-reverse;
        gap: 8px;
        padding: 12px 16px 12px 0px;
        width: fit-content;

        @include body-2-regular;
        color: var(--theme-primary-1);
      }
    }
  }
}
@include xs {
  .Banner {
    flex-direction: column;
    .Necklet,
    .Ring {
      position: relative;
      min-height: 200px; // hoặc chiều cao bạn muốn
      display: block;
      width: 100%;
    }
    .Necklet-img {
      position: absolute;
      left: 0;
      top: 0;

      z-index: 1;
    }
    .Ring-img {
      position: absolute;
      right: 0;
      top: 0;

      z-index: 1;
    }
    .Necklet-features {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 2;
    }
    .Ring-features {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
    }
  }
}
