@use "../Utils/Color.scss";
@import "../Utils/Font_styles.scss";

@mixin xs {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin m {
  @media (min-width: 768px) and (max-width: 1279px) {
    @content;
  }
}
@mixin xl {
  @media (min-width: 1280px) {
    @content;
  }
}
body {
  overflow-x: hidden;
  margin: 0;
  font-family: "Open Sans", sans-serif;

  touch-action: manipulation;
}
.Test {
  display: flex;
  width: calc(1280px + (100vw - 1280px) / 2);

  height: 375px;
  margin-left: auto;
  margin-top: 120px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  @include m {
    display: none;
  }
  @include xs {
    display: none;
  }
  .Test__control {
    width: 21.87%;
    min-width: 350px;
    height: 146px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
    .Header {
      @include body-2-regular;
      color: var(--neutral-text-600);
    }
    .Body {
      @include heading-3;
      color: var(--neutral-text-900);
    }
    .Arrow {
      display: flex;
      gap: 16px;
      .Arrow-back {
        rotate: 180deg;
      }
    }
  }

  .Test__info {
    width: 66%;
    height: 375px;
    background-color: var(--neutral-background-50);
    position: relative;
    .Test__info-slides {
      position: absolute;
      left: 12.5%;
      top: 14.4%;
      width: 604px;
      height: 290px;
      position: relative;
      .Slides-1,
      .Slides-2 {
        position: absolute;
        width: 435.93px;
        box-sizing: border-box;
        padding: 24px 32px;
        border-radius: 2px;
        background-color: var(--neutral-background-white);

        display: flex;
        flex-direction: column;
        gap: 36px;

        box-shadow: 0px 12px 105px rgba(35, 41, 49, 0.08);
        .Comment {
          @include header-1;
          color: var(--neutral-text-900);
        }
        .Infomation {
          display: flex;
          flex-direction: column;
          gap: 14px;
          .Infomation__detail {
            width: 100%;
            display: flex;
            gap: 16px;
            align-items: center;
            .Infomation__detail-avatar {
              border-radius: 999px;
            }
            .Infomation__detail-info {
              display: flex;
              flex-direction: column;
              gap: 8px;
              width: 100%;
              .Name {
                @include header-1;
                color: var(--theme-primary-1);
              }
              .Address {
                @include poppins-caption;
                color: var(--neutral-text-600);
              }
            }
          }
        }
      }
      .Slides-1 {
        z-index: 2;
        opacity: 1;
      }

      .Slides-2 {
        z-index: 1;
        opacity: 0.92;
        bottom: 0;
        right: 0;
      }
    }
  }
}
