$-base-red-50: #fff1f0;
$-base-red-100: #ffd2cf;
$-base-red-200: #ffa9a6;
$-base-red-300: #ff7d7d;
$-base-red-400: #f75257;
$-base-red-500: #ea2733;
$-base-red-600: #c41829;
$-base-red-700: #9e0b1f;
$-base-red-800: #7b0216;
$-base-red-900: #520111;

$-base-orange-50: #fff5eb;
$-base-orange-100: #ffdfd2;
$-base-orange-200: #ffc799;
$-base-orange-300: #ffac70;
$-base-orange-400: #ff8e47;
$-base-orange-500: #fa6c1d;
$-base-orange-600: #d44d0f;
$-base-orange-700: #ad3403;
$-base-orange-800: #872200;
$-base-orange-900: #611500;

$-base-amber-50: #fffbe6;
$-base-amber-100: #fff1b8;
$-base-amber-200: #ffe58f;
$-base-amber-300: #ffd666;
$-base-amber-400: #ffc53d;
$-base-amber-500: #faad14;
$-base-amber-600: #d48b06;
$-base-amber-700: #ad6800;
$-base-amber-800: #874d00;
$-base-amber-900: #613400;

$-base-yellow-50: #ffffe0;
$-base-yellow-100: #ffffb8;
$-base-yellow-200: #ffff8f;
$-base-yellow-300: #fff366;
$-base-yellow-400: #ffec3c;
$-base-yellow-500: #fadb15;
$-base-yellow-600: #d4b108;
$-base-yellow-700: #ad8b02;
$-base-yellow-800: #876b01;
$-base-yellow-900: #614700;

$-base-lime-50: #f9ffe6;
$-base-lime-100: #edffbd;
$-base-lime-200: #d4f28d;
$-base-lime-300: #b9e96d;
$-base-lime-400: #9ed938;
$-base-lime-500: #84cc15;
$-base-lime-600: #62a608;
$-base-lime-700: #448000;
$-base-lime-800: #2d5900;
$-base-lime-900: #183300;

$-base-green-50: #e3f0e1;
$-base-green-100: #cfe3cc;
$-base-green-200: #a2d69f;
$-base-green-300: #78c975;
$-base-green-400: #4fbd4f;
$-base-green-500: #2eb032;
$-base-green-600: #1d8a24;
$-base-green-700: #10631b;
$-base-green-800: #073d0e;
$-base-green-900: #021706;

$-base-teal-50: #e1f7f1;
$-base-teal-100: #b0ebdc;
$-base-teal-200: #83deca;
$-base-teal-300: #5ad1bb;
$-base-teal-400: #35c4af;
$-base-teal-500: #15bb96;
$-base-teal-600: #099186;
$-base-teal-700: #016b66;
$-base-teal-800: #004544;
$-base-teal-900: #001e1f;

$-base-sky-50: #f0faff;
$-base-sky-100: #cce8ff;
$-base-sky-200: #a3d9ff;
$-base-sky-300: #7ac3ff;
$-base-sky-400: #52abff;
$-base-sky-500: #2a92ff;
$-base-sky-600: #186fd9;
$-base-sky-700: #0b51b3;
$-base-sky-800: #01378c;
$-base-sky-900: #002466;

$-base-blue-50: #f0f0ff;
$-base-blue-100: #c9e0ff;
$-base-blue-200: #a1c5ff;
$-base-blue-300: #78a7ff;
$-base-blue-400: #4d83f7;
$-base-blue-500: #235cea;
$-base-blue-600: #1440c4;
$-base-blue-700: #08289e;
$-base-blue-800: #001b7b;
$-base-blue-900: #000c52;

$-base-indigo-50: #f4f0ff;
$-base-indigo-100: #e7dedf;
$-base-indigo-200: #c6b5ff;
$-base-indigo-300: #9b85f2;
$-base-indigo-400: #715ae6;
$-base-indigo-500: #4932d9;
$-base-indigo-600: #2f20b3;
$-base-indigo-700: #1a128c;
$-base-indigo-800: #0b0866;
$-base-indigo-900: #040440;

$-base-purple-50: #faf0ff;
$-base-purple-100: #f2d0ff;
$-base-purple-200: #daadf7;
$-base-purple-300: #bc7feb;
$-base-purple-400: #9e54de;
$-base-purple-500: #7f2ed1;
$-base-purple-600: #5f1da8;
$-base-purple-700: #421085;
$-base-purple-800: #2a075e;
$-base-purple-900: #17033b;

$-base-pink-50: #fff0f5;
$-base-pink-100: #ffd6e7;
$-base-pink-200: #ffadd1;
$-base-pink-300: #ff85be;
$-base-pink-400: #f759a8;
$-base-pink-500: #e82e94;
$-base-pink-600: #c41d7c;
$-base-pink-700: #9e1065;
$-base-pink-800: #7b064e;
$-base-pink-900: #520337;

// theme
$-theme-primary-1: #003468;
$-theme-primary-2: #042751;
$-theme-primary-3: #eff6fd;
$-theme-secondary-1: #c48c46;
$-theme-secondary-2: #c17311;
$-theme-secondary-3: #fff4e7;

//functional
$-functional-info-100: #e2f1ff;
$-functional-info-200: #add9ff;
$-functional-info-300: #72b7fb;
$-functional-info-400: #2b88fb;
$-functional-info-500: #006eef;

$-functional-error-100: #fdecef;
$-functional-error-200: #ffabb5;
$-functional-error-300: #fa8091;
$-functional-error-400: #ea3e53;
$-functional-error-500: #da072d;

$-functional-warning-100: #fff6d9;
$-functional-warning-200: #ffe1a8;
$-functional-warning-300: #fdc66e;
$-functional-warning-400: #f0a328;
$-functional-warning-500: #e99208;

$-functional-success-100: #def5d9;
$-functional-success-200: #aee4ad;
$-functional-success-300: #73c686;
$-functional-success-400: #28a745;
$-functional-success-500: #008e39;

//newtral
$-neutral-text-100: #f9f9fb;
$-neutral-text-200: #f4f6f8;
$-neutral-text-300: #dfe3e8;
$-neutral-text-400: #c4cdd5;
$-neutral-text-500: #919eab;
$-neutral-text-600: #637381;
$-neutral-text-700: #454f5b;
$-neutral-text-800: #212b36;
$-neutral-text-900: #161c24;
$-neutral-text-black: #000000;

$-neutral-border-50: #f2f4f7;
$-neutral-border-100: #e9edf2;
$-neutral-border-200: #e2e7ed;
$-neutral-border-300: #dae0e8;

$-neutral-background-white: #ffffff;
$-neutral-background-50: #f8f9fb;
$-neutral-background-100: #f0f1f3;
$-neutral-background-200: #ebedef;
$-neutral-background-300: #e3e6e9;
