// .header {
//   width: 100%;
//   max-width: 1280px;
//   margin: 0 auto;
// }
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "../Utils/Color.scss";
// @import "swiper/swiper.scss";
// @import "swiper/modules/pagination/pagination.scss";
body {
  // font-family: "Open Sans";
  font-family: "Open Sans", sans-serif;
  position: relative;
  height: 3000px;
}

.header {
  box-sizing: border-box;
  // width: 1280px;
  max-width: 1920px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 320px 10px 320px;
  &__logo {
    width: 184px;
    height: 60px;
  }

  &__links {
    box-sizing: border-box;
    width: 485px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;

    &-item {
      text-align: center;
      height: 28px;
      width: 85px;
      font-weight: 500;
      font-size: 18px;
      color: $-neutral-text-500;
      // padding: 16px 12px 16px 12px;
      padding: 0 12px;
      cursor: pointer;
    }
  }
  &__actions {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 369px;
    height: 42px;
    gap: 12px;
  }
  &__search {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border: 1px solid $-neutral-text-200;
    border-radius: 999px;
    padding: 7px 120px 7px 16px;
    gap: 8px;
    width: 320px;
    height: 40x;
    &-icon {
      width: 24px;
      height: 24px;
    }
    &-bar {
      border: none;
      padding: none;
      font-size: 15px;
      line-height: 26px;
      color: $-neutral-text-600;
      box-sizing: border-box;
      width: 69px;
      height: 26px;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
    }
  }
  &__separator {
    width: 1px;
    height: 16px;
  }
  &__cart {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &-icon {
      width: 24px;
      height: 24px;
      align-items: center;
    }
    &-badge {
      position: absolute;
      top: -10px;
      right: -10px;
      background-color: $-functional-error-400;
      color: white;
      box-sizing: border-box;
      width: 20px;
      height: 20px;
      border-radius: 10px;
      padding: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.position {
  color: $-theme-primary-1;
}

//body
.body__intro {
  // position: relative;
  box-sizing: border-box;
  max-width: 1920px;
  width: 1920px;
  height: 716px;
  // &-ring {
  //   position: absolute;
  //   // position: relative;
  //   box-sizing: border-box;
  //   width: 1920px;
  //   // width: 100%;
  //   height: 716px;
  //   object-fit: cover;
  //   object-position: center;
  //   // display: flex;
  //   // justify-content: center;
  //   // align-items: center;
  //   margin: 0;
  // }
  background-image: url(../Image/Home.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &-header {
    position: absolute;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    box-sizing: border-box;
    width: 730px;
    height: 180px;
    // border: 1px solid;
    top: 56px;
    left: 595px;
    color: $-neutral-text-900;
    text-align: center;
    &-title {
      width: 730px;
      line-height: 82px;
      margin: 0;
      font-weight: 500;
      font-family: "Open Sans", sans-serif;
      text-align: center;
    }
    &-subtitle {
      display: block;
    }
    &-ellipse {
      position: absolute;
      width: 281px;
      height: 16px;
      top: 160px;
      left: 0px;
      border-radius: 10px;
    }
  }
  &-caption {
    position: absolute;
    top: 533px;
    left: 537px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: $-neutral-text-600;
    width: 846px;
    height: 44px;
    text-align: center;
    z-index: 1;
  }
  &-more {
    position: absolute;
    // top: 601px;
    top: 601px;
    left: 825px;
    box-sizing: border-box;
    width: 190px;
    height: 48px;
    padding: 13px 16px 13px 16px;
    background-color: $-theme-primary-1;
    color: white;
    border: none;
    cursor: pointer;
  }
}
.body__discount {
  color: $-theme-secondary-1;
}

// .body__intro-list {
//   position: absolute;
//   display: flex;
//   gap: 16px;
//   box-sizing: border-box;
//   width: 100px;
//   height: 12px;
//   top: 753px;
//   left: 870px;
//   list-style-type: none;
//   padding: 0;
//   margin: 0;
//   justify-content: space-between;
//   align-items: center;

//   &-dot {
//     box-sizing: border-box;
//     width: 6px;
//     height: 6px;
//     background-color: $-theme-primary-1;
//     border-radius: 50%;
//     cursor: pointer;
//     transition: background-color 0.3s ease;

//     &.select {
//       position: relative;
//       &::after {
//         content: "";
//         position: absolute;
//         top: -3px;
//         left: -3px;
//         width: 12px;
//         height: 12px;
//         border: 1px solid $-theme-primary-1;
//         border-radius: 50%;
//         box-sizing: border-box;
//       }
//     }
//   }
// }

// features
.features {
  // border: 1px solid $-neutral-text-300;
  // width: 100%;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  height: 168px;
  margin: 0 auto;
  display: flex;
  gap: 40px;
  top: 876px;
  left: 320px;
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    padding: 0 16px 16px 16px;
  }
}
.features__img {
  width: 24px;
  height: 24px;
  // display: flex;
  // align-items: center;
  // margin: 0 auto;
}
.features__text {
  width: 100%;
  height: 120px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &-title {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    width: 368px;
    height: 60px;
    box-sizing: border-box;
    color: $-neutral-text-900;
    margin: 0;
    &-redNote {
      color: red;
    }
  }
  &-description {
    text-align: center;
    width: 368px;
    height: 44px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: $-neutral-text-600;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  // &-inline {
  //   display: block;
  // }
}
.categories {
  position: absolute;
  // border: 1px solid $-neutral-text-300;
  box-sizing: border-box;
  width: 1280px;
  height: 352px;
  top: 1124px;
  left: 320px;
  display: flex;
  justify-content: space-between;
  &__item {
    // width: 100%;
    height: 352px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    &-text {
      box-sizing: border-box;
      width: 127px;
      height: 48px;
      display: flex;
      gap: 8px;
      align-items: center;

      &-link {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: $-theme-primary-1;
        // font-family: "Inter", sans-serif;
        cursor: pointer;
      }
      &-arrow {
        width: 24px;
        height: 24px;
        cursor: pointer;
      }
    }
  }
}
.Collection {
  max-width: 1280px;
  width: 100%;
  height: 528px;
  box-sizing: border-box;
  position: absolute;
  top: 1556px;
  left: 320px;
  gap: 215px;
  display: flex;
  justify-content: space-between;
  // border: 1px solid $-neutral-text-300;
  &__category {
    position: relative;
    box-sizing: border-box;
    height: 486px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 233px;
    // border: 1px solid $-neutral-text-300;
    &-title {
      position: absolute;
      width: 100%;
      height: 41px;
      box-sizing: border-box;
      font-weight: 500;
      font-size: 28px;
      line-height: 42px;
      color: $-neutral-text-900;
    }
    &-links {
      position: absolute;
      left: 0;
      bottom: 0;
      box-sizing: border-box;
      width: 124px;
      height: 212px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 16px;
      &-title {
        display: flex;
        justify-content: space-between;
        height: 22px;
        gap: 12px;
        &-detail {
          font-family: "Inter"; // Inter mới đúng
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          color: $-theme-primary-1;
          width: 68px;
          height: 22px;
          cursor: pointer;
        }
        &-img {
          width: 16px;
          height: 2px;
          margin: auto;
        }
      }
      &-indicators {
        box-sizing: border-box;
        width: 111px;
        height: 174px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 16px;
        &-elements {
          // font-family: "Inter";
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          // width: 91px;
          height: 22px;
          color: $-neutral-text-600;
          cursor: pointer;
        }
      }
    }
  }
  &__explore {
    box-sizing: border-box;
    width: 715px;
    height: 528px;
    display: flex;
    flex-direction: column;

    &-img {
      width: 715px;
      height: 480px;
      box-sizing: border-box;
      .first-img {
        margin-right: 10px;
      }
    }
    &-newest {
      box-sizing: border-box;
      width: 273px;
      height: 48px;
      display: flex;
      gap: 8px;
      align-items: center;
      &-content {
        // font-family: "Inter";
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        // width: 250px;
        height: 22px;
        color: $-theme-primary-1;
      }
      &-arrow {
        width: 24px;
        height: 24px;
      }
    }
  }
}
.Shipping {
  position: absolute;
  box-sizing: border-box;
  width: 1920px;
  height: 488px;
  border: 1px solid red;
  top: 2118px;
  background-color: $-theme-primary-1;
  &__head {
    position: absolute;
    box-sizing: border-box;
    width: 870px;
    height: 185px;
    top: 88px;
    left: 525px;
    &-title {
      text-align: center;
      height: 177px;
      position: absolute;
      top: 0;
      font-weight: 500;
      font-size: 64px;
      line-height: 88px;
      color: white;
      &-freeShip {
        color: $-theme-secondary-1;
      }
    }
    &-icon {
      position: absolute;
      top: 168px;
      left: 480px;
    }
  }
  &__caption {
    text-align: center;
    position: absolute;
    box-sizing: border-box;
    width: 729px;
    height: 44px;
    top: 311px;
    left: 595px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: $-neutral-text-400;
  }
  &__button {
    position: absolute;
    box-sizing: border-box;
    width: 392px;
    height: 48px;
    top: 393px;
    left: 767px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    &-buying,
    &-more {
      box-sizing: border-box;
      width: 186px;
      height: 48px;
      padding: 13px 56px 13px 56px;
      text-align: center;
      color: white;
      display: block;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      cursor: pointer;
    }
    &-active {
      background-color: $-theme-secondary-1;
    }
  }
}
.star-icon-top {
  position: absolute;
  width: 34.89px;
  height: 34.88px;
  top: 2153px;
  left: 611px;
  color: $-neutral-text-500;
}
.star-icon-bottom {
  position: absolute;
  width: 34.89px;
  height: 34.88px;
  top: 2404px;
  left: 1515px;
  color: $-neutral-text-500;
}
.star-icon-right {
  position: absolute;
  width: 59.6px;
  height: 59.6px;
  top: 2140px;
  left: 1250px;
  color: $-neutral-text-500;
}
.star-icon-left {
  position: absolute;
  width: 59.6px;
  height: 59.6px;
  top: 2457px;
  left: 402px;
  color: $-neutral-text-500;
}
.swiper-pagination-bullet {
  height: 6px;
  width: 6px;
  // color: $-theme-primary-1 !important;
  // background-color: $-theme-primary-1 !important;
  margin: 0px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 auto;

  &-active {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: -3px;
      left: -3px;
      width: 12px;
      height: 12px;
      border: 1px solid $-theme-primary-1;
      border-radius: 50%;
      box-sizing: border-box;
    }
  }
}

// .swiper-pagination-horizontal {
//   position: absolute;
//   top: 683px !important;
//   left: 870px !important;
//   display: flex;
//   justify-content: space-between;
//   gap: 16px;
//   box-sizing: border-box;
//   width: 100px !important;
//   height: 12px !important;
// }

// .swiper-horizontal > .swiper-pagination-bullets,
// .swiper-pagination-bullets.swiper-pagination-horizontal,
// .swiper-pagination-custom,
// .swiper-pagination-fraction {
//   position: absolute;
//   // display: flex;
//   gap: 16px;
//   box-sizing: border-box;
//   width: 100px;
//   height: 12px;
//   top: 665px;
//   left: 870px;
//   // margin: 0 auto;
//   margin: 0 8px 0 8px;
//   list-style-type: none;
//   padding: 0;

//   // justify-content: space-between;
//   align-items: center;
//   color: $-theme-primary-1;
// }

.swiper-container,
.mySwiper,
.body__intro.swiper {
  position: relative;
}

.swiper-pagination {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);

  width: auto !important;
}
.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background-color: $-theme-primary-1;
  opacity: 1;
  margin: 0 5px !important;
}

.swiper-pagination-bullet-active {
  background-color: $-theme-primary-1;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  left: 910px;
  display: flex;
  justify-content: space-between;
  width: 100px !important;
  align-items: center;
  height: 12px !important;
  top: 673px;
}
