@import "../Utils/Color.scss";
@import "../Utils/Font.scss";

@mixin xs {
  @media (max-width: 767px) {
    @content;
  }
}
// @mixin s {
//   @media (min-width: 640px) {
//     @content;
//   }
// }
@mixin m {
  @media (min-width: 768px) and (max-width: 1279px) {
    @content;
  }
}
// @mixin l {
//   @media (min-width: 1024px) {
//     @content;
//   }
// }
@mixin xl {
  @media (min-width: 1280px) {
    @content;
  }
}
// @mixin xxl {
//   @media (min-width: 1536px) {
//     @content;
//   }
// }
body {
  overflow-x: hidden;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.header {
  width: 100%;

  @include xl {
    max-width: 1280px;
    margin: 0 auto;
  }
  .header--wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .header-hamberger-mobile {
      box-sizing: border-box;
      width: 24px;
      height: 24px;
      margin: 28px 0px 28px 24px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 0.75px 0;
      .header-hamberger-mobile-line {
        width: 17.5px;
        height: 1.5px;
        background-color: var(--neutral-text-900);
      }
      @include xl {
        display: none;
      }
    }
    .header--logo {
      display: flex;
      align-items: center;
      padding: 10px 0;
    }
    .header--menu {
      display: none;
      @include xl {
        display: flex;
        gap: 24px;
        height: 60px;
        text-align: center;
        list-style-type: none;
        padding: 0;
        margin: 0;
        align-items: center;
        max-width: 485px;
        width: 100%;
        justify-content: space-between;
        .header--menu-link {
          text-decoration: none;
          padding: 16px 12px;

          color: var(--neutral-text-500);
          @include header-2;
        }
        .active {
          color: var(--theme-primary-1);
        }
      }
    }
    .header--right {
      display: flex;
      align-items: center;
      gap: 12px;
      justify-content: space-between;
      box-sizing: border-box;
      height: 42px;
      margin-right: 24px;
      .header--search_bar {
        border: none;
        height: 42px;
        display: flex;

        box-sizing: border-box;
        align-items: center;

        @include xl {
          width: 320px;
          display: flex;
          border-radius: 999px;
          border: 1px solid var(--neutral-text-200);
        }

        .header--search-icon {
          display: flex;
          align-items: center;
          --my-color: var(--neutral-text-900);
          box-sizing: border-box;
          width: 24px;
          height: 24px;

          @include xl {
            --my-color: var(--neutral-text-500);
            margin-left: 16px;
            margin-right: 1px;
          }
        }

        .header--search-input {
          display: none;
          border: none;
          padding: none;

          @include xl {
            // padding-left: 16px;
            border: none;
            outline: none;
            display: flex;
            @include body-1;
            color: var(--neutral-text-600);

            width: 100%;
          }
        }
      }
      .header--search-cart {
        position: relative;
        display: flex;
        align-items: center;
        .header--search-cart-icon {
          box-sizing: border-box;
          width: 24px;
          height: 24px;
        }
        .header--search-cart-counting {
          position: absolute;
          padding: 2px;
          background-color: var(--functional-error-400);
          @include caption-2-regular;
          box-sizing: border-box;
          width: 20px;
          height: 20px;
          color: var(--neutral-background-white);
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          left: 14px;
          bottom: 2px;
          margin: none;
        }
      }
    }
  }
}

.swiper-pagination-bullet {
  height: 6px;
  width: 6px;
  // color: $-theme-primary-1 !important;
  // background-color: $-theme-primary-1 !important;
  margin: 0px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 auto;

  &-active {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: -3px;
      left: -3px;
      width: 12px;
      height: 12px;
      border: 1px solid var(--theme-primary-1);
      border-radius: 50%;
      box-sizing: border-box;
    }
  }
}

.swiper-container,
.mySwiper,
.body__intro.swiper {
  text-align: center;
  // height: 100vh;
}

.swiper-pagination {
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: auto !important;
}
.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background-color: var(--theme-primary-1);
  opacity: 1;
  margin: 0 !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--theme-primary-1);
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  height: 12px !important;
  gap: 16px;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 31px;
  @include m {
    margin-bottom: 38px;
  }
  @include xs {
    margin-bottom: 15px;
  }
}

.body__intro {
  width: 100%;
  background-image: url(../Home_Image/Home.jpg);
  // height: 716px;
  object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 716px;
  @include m {
    height: 530px;
  }
  @include xs {
    height: 488px;
  }

  .body__intro-header {
    position: relative;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    box-sizing: border-box;
    width: 730px;
    color: var(--neutral-text-900);
    text-align: center;
    padding-top: 56px;
    margin: 0 auto;

    @include m {
      padding-top: 40px;
    }

    @include xs {
      position: relative;
      font-family: "Open Sans", sans-serif;
      font-weight: 500;
      font-size: 32px;
      line-height: 100%;
      box-sizing: border-box;
      max-width: 365px;
      width: 100%;
      color: var(--neutral-text-900);
      text-align: center;
      padding-top: 39px;
      margin: 0 auto;
      padding-top: 39px;
      .body__intro-header-title {
        margin: 0;
        font-weight: 500;
        font-family: "Open Sans", sans-serif;
        text-align: center;
        font-size: 28px;
        line-height: 42px;
      }
      .body__intro-header-subtitle {
        display: block;
        font-weight: 500px;
        font-size: 32px;
        line-height: 51px;
      }
      .body__intro-header-ellipse {
        position: absolute;
        width: 157px;
        height: 8px;
        top: 132px;
        left: 0px;
        border-radius: 10px;
      }
    }
    &-title {
      max-width: 730px;
      width: 100%;
      height: 164px;
      // line-height: 100%;
      line-height: 82px;
      margin: 0;
      font-weight: 500;
      font-family: "Open Sans", sans-serif;
      text-align: center;
      @include m {
        line-height: 72px;
        height: 144px;
        font-size: 48px;
      }
      @include xs {
        line-height: 100%;
        height: 100%;
      }
    }
    &-subtitle {
      display: block;
      .body__discount {
        color: var(--theme-secondary-1);
      }
    }
    &-ellipse {
      position: absolute;
      width: 281px;
      height: 16px;
      // top: 220px;
      left: 0px;
      border-radius: 10px;
      @include m {
        width: 229px;
        left: 92px;
      }
      @include xs {
        width: 157px;
        left: 0px;
      }
    }
  }
  .body__intro-caption {
    color: var(--neutral-text-600);
    @include body-2-regular;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 281px;
    @include xl {
      max-width: 834px;
      width: 100%;
    }
    @include m {
      max-width: 564px;
      width: 100%;
      padding-top: 134px;
    }
    @include xs {
      max-width: 378px;
      width: 100%;
      padding-top: 153px;
    }
  }
  .body__intro-more {
    width: 190px;
    font-family: "Open Sans";
    padding: 13px 16px 13px 16px;
    background-color: var(--theme-primary-1);
    color: var(--neutral-background-white);
    border: none;
    cursor: pointer;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    @include body-2-regular;
    margin-top: 40px;
    @include xs {
      margin-top: 16px;
    }
    @include m {
      margin-top: 16px;
    }
  }
}
