<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="./Home.scss" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />
  </head>
  <body>
    <header>
      <div id="header-container"></div>
    </header>
    <main>
      <div id="slides-container">

  </div>
  <div id="features-container">
  </div>
  <div id="features-container">
  </div>
  <div id="categories-container">
</div>
<div id="collection-container">
</div>
<div id="shipping-container">
</div>
<div id="production-container"></div>
<div id="banner-container"></div>
<div id="testimonials-container"></div>
      
    </main>
    <footer>
      <div id="footer-container"></div>
    </footer>

    
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script type="module" src="./Home.ts"></script>
  </body>
</html>
