<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./header.scss" />
  </head>
  <body>
    <div class="jr-header">
      <div class="jr-header-logo">Noven</div>
      <div class="jr-header-links">
        <div class="jr-header-links-detail">Trang chủ</div>
        <div class="jr-header-links-detail">Sản Phẩm</div>
        <div class="jr-header-links-detail">Giới thiệu</div>
        <div class="jr-header-links-detail">Liên hệ</div>
      </div>
      <div class="jr-header-final">
        <div class="jr-header-final-search">
          <img
            src="../Search/search-line.png"
            alt=""
            class="jr-header-final-search-icon"
          />
          <div class="jr-header-final-search_bar">Tìm kiếm</div>
          <!-- <input
            type="text"
            placeholder="Tìm kiếm"
            class="jr-header-final-search_bar"
          /> -->
        </div>
        <img class="jr-header-final-column" src="../Search/_.png" alt="" />
        <img
          class="jr-header-final-cart"
          src="../Search/cart-line.png"
          alt=""
        />
      </div>
    </div>
  </body>
  <script src="./header.ts"></script>
</html>
