@use "../Utils/Color.scss";
@import "../Utils/Font_styles.scss";

@mixin xs {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin m {
  @media (min-width: 768px) and (max-width: 1279px) {
    @content;
  }
}
@mixin xl {
  @media (min-width: 1280px) {
    @content;
  }
}
body {
  overflow-x: hidden;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  height: auto;
  touch-action: manipulation;
}
.Shipping {
  position: relative;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  background-color: var(--theme-primary-1);
  //   height: 488px; // demo height
  margin-top: 34px;
  &__title {
    position: relative;
    margin: 0 auto;
    max-width: 870px;
    width: 100%;
    object-fit: cover;
    padding-top: 88px;
    height: 185px;

    &-caption {
      font-family: "Open Sans";
      font-weight: 500;
      //   font-size: clamp(24px, 6vw, 64px);
      font-size: 64px;
      line-height: 84px;
      text-align: center;
      color: var(--neutral-background-white);
      margin: 0;
    }
    &-subtitle {
      color: var(--theme-secondary-2);
    }
    &-icon {
      position: absolute;
      left: 488px;
    }
  }
  &__description {
    max-width: 729px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    @include body-2-regular;
    color: var(--neutral-text-400);
    padding-top: 38px;
  }
  &__button {
    box-sizing: border-box;
    max-width: 392px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 38px;
    padding-bottom: 47px;
    &-buying {
      box-sizing: border-box;

      padding: 13px 56px;
      @include body-2-regular;
      color: var(--neutral-background-white);
      background-color: transparent;
      border: none;
    }
    &-more {
      box-sizing: border-box;

      padding: 13px 56px;
      @include body-2-regular;
      color: var(--neutral-background-white);
      background-color: transparent;
      border: none;
    }
    .active {
      background-color: var(--theme-secondary-1);
    }
  }
  .star-top {
    position: absolute;
    top: 22px;
    left: 66%;
  }
  .star-bottom {
    position: absolute;
    top: 339px;
    left: 22%;
  }
  .star-right {
    position: absolute;
    top: 286px;
    left: 78%;
  }
  .star-left {
    position: absolute;
    top: 35px;
    left: 32%;
  }

  @include m {
    .Shipping__title {
      max-width: 677px;
      height: 118px;
      padding-top: 104px;
      .Shipping__title-caption {
        @include poppins-heading-5;
        display: block;
      }

      .shipping__title-top {
        @include heading-3;
        display: block;
        height: 52px;
        padding-bottom: 12px;
      }
      .Shipping__title-icon {
        left: 360px;
        top: 210px;
        width: 153px;
        height: 12px;
      }
    }
    .Shipping__description {
      max-width: 680px;
      padding-top: 20px;
      height: 66px;
    }
    .Shipping__button {
      padding-bottom: 64px;
    }
    .star-top {
      position: absolute;
      top: 39px;
      left: 78%;
    }
    .star-bottom {
      position: absolute;
      top: 360px;
      left: 10%;
    }
    .star-right {
      position: absolute;
      top: 188px;
      left: 90%;
    }
    .star-left {
      position: absolute;
      top: 34px;
      left: 15%;
    }
  }

  @include xs {
    height: 493px;
    .Shipping__title {
      max-width: 328px;
      height: 152px;
      padding-top: 40px;
      .Shipping__title-caption {
        @include heading-3;
        display: block;
        line-height: 42px;
      }

      .Shipping__title-icon {
        width: 154px;
        height: 12px;
        left: 87px;
      }
    }
    .Shipping__description {
      max-width: 328px;
      padding-top: 20px;
      height: 110px;
    }
    .Shipping__button {
      padding-bottom: 64px;
      flex-direction: column;
      max-width: 185px;
      width: 100%;
      gap: 24px;
      padding-bottom: 24px;
    }
    .Shipping__title-subtitle {
      display: block;
      @include heading-2;
    }
    .star-top {
      position: absolute;
      top: 16px;
      left: 78%;
      .star-linear {
        width: 32px;
        height: 32px;
      }
    }
    .star-bottom {
      position: absolute;
      top: 172px;
      left: 13%;
      .star-linear {
        width: 32px;
        height: 32px;
      }
    }
    .star-right {
      position: absolute;
      top: 164px;
      left: 85%;
      .star-normal {
        width: 16px;
        height: 16px;
      }
    }
    .star-left {
      position: absolute;
      top: 24px;
      left: 25%;
      .star-normal {
        width: 16px;
        height: 16px;
      }
    }
  }
}
