@use "../Utils/Color.scss";
@import "../Utils/Font_styles.scss";

@mixin xs {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin m {
  @media (min-width: 768px) and (max-width: 1279px) {
    @content;
  }
}
@mixin xl {
  @media (min-width: 1280px) {
    @content;
  }
}
body {
  overflow-x: hidden;
  margin: 0;
  font-family: "Open Sans", sans-serif;

  touch-action: manipulation;
}
.Footer {
  max-width: 1920px;
  width: 100%;
  background-color: var(--theme-primary-2);
  margin: 120px auto 0 auto;
  display: flex;

  gap: 80px;
  padding: 80px 0;
  justify-content: center;
  flex-wrap: wrap;

  .About {
    max-width: 340px;
    display: flex;
    flex-direction: column;
    gap: 36px;

    .About__script {
      display: flex;
      flex-direction: column;
      gap: 32px;
      .About__script-header {
        color: var(--neutral-background-white);
        @include poppins-header-H6;
        margin: 0;
        text-transform: uppercase;
      }
      .About__script-title {
        color: var(--neutral-text-400);
        @include body-2-regular;
        margin: 0;
      }
    }
    .About__payment {
      display: flex;
      flex-direction: column;
      gap: 16px;
      justify-content: space-between;
      .About__payment-header {
        color: var(--neutral-text-400);
        @include body-2-regular;
        margin: 0;
      }
      .About__payment-icons {
        display: flex;
        gap: 16px;
        align-items: center;
      }
    }
  }
  .Info {
    max-width: 180px;
    width: 100%;
    display: flex;
    gap: 32px;
    flex-direction: column;
    .Info__header {
      @include poppins-header-H6;
      color: var(--neutral-background-white);
      text-transform: uppercase;
    }
    .Info__property {
      display: flex;
      flex-direction: column;
      gap: 12px;
      .Introduction,
      .Information,
      .Contact,
      .Event {
        color: var(--neutral-text-400);
        @include body-2-regular;
        margin: 0;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
  .Polity {
    max-width: 180px;
    width: 100%;
    display: flex;
    gap: 32px;
    flex-direction: column;
    .Polity__header {
      @include poppins-header-H6;
      color: var(--neutral-background-white);
      text-transform: uppercase;
    }
    .Polity__property {
      display: flex;
      flex-direction: column;
      gap: 12px;
      .Tranfer,
      .Support,
      .Change,
      .Pay {
        color: var(--neutral-text-400);
        @include body-2-regular;
        margin: 0;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
  .Newest {
    max-width: 340px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-between;
    .Newest__script {
      display: flex;
      flex-direction: column;
      gap: 32px;
      justify-content: space-between;
      .Newest__script-header {
        @include poppins-header-H6;
        color: var(--neutral-background-white);
        text-transform: uppercase;
        margin: 0;
      }
      .Newest__script-title {
        color: var(--neutral-text-400);
        @include body-2-regular;
        margin: 0;
      }
    }
    .Newest__email {
      display: flex;
      align-items: center;
      gap: 6px;
      max-width: 264px;
      object-fit: contain;
      .Newest__email-input {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid var(--neutral-border-100);
        color: var(--neutral-text-400);
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 8px;
        height: 27px;
        width: 194px;
        outline: none;
      }
      .Newest__email-icon {
        padding: 8px 20px;
        background-color: var(--theme-primary-1);
        .Newest__email {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
@include m {
  .Header:nth-child(1) {
    flex-basis: 100%;
  }
}
