<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./Footer.scss" />
  </head>
  <body>
    <div class="jr-footer">
      <div class="jr-footer-box">
        <div class="jr-footer-box-aboutMe">
          <div class="jr-footer-box-aboutMe-header">VỀ CHÚNG TÔI</div>
          <div class="jr-footer-box-aboutMe-info">
            Chúng tôi luôn cung cấp cho bạn những sản phẩm trang sức đẹp và chất
            lượng nhất, mẫu mã được thiết kế tinh xảo hoàn mỹ nhất!
          </div>
          <div class="jr-footer-box-aboutMe-payment">
            <div class="jr-footer-box-aboutMe-payment-header">
              Phương thức thanh toán
            </div>
            <div class="jr-footer-box-aboutMe-payment-icons">
              <img
                src="../Payment/Group 98.svg"
                alt=""
                class="jr-footer-box-aboutMe-payment-visa"
              />
              <img
                src="../Payment/Group 99.svg"
                alt=""
                class="jr-footer-box-aboutMe-payment-mastercard"
              />
              <img
                src="../Payment/Group 100.svg"
                alt=""
                class="jr-footer-box-aboutMe-payment-jcb"
              />
            </div>
          </div>
        </div>
        <div class="jr-footer-box-infomation">
          <div class="jr-footer-box-infomation-header">THÔNG TIN</div>
          <div class="jr-footer-box-infomation-detail">
            <div class="jr-footer-box-infomation-detail-item">Giới thiệu</div>
            <div class="jr-footer-box-infomation-detail-item">Thông tin</div>
            <div class="jr-footer-box-infomation-detail-item">Liên hệ</div>
            <div class="jr-footer-box-infomation-detail-item">Sự kiện</div>
          </div>
        </div>
        <div class="jr-footer-box-policy">
          <div class="jr-footer-box-policy-header">CHÍNH SÁCH</div>
          <div class="jr-footer-box-policy-detail">
            <div class="jr-footer-box-policy-detail-item">Vận chuyển</div>
            <div class="jr-footer-box-policy-detail-item">Hỗ trợ</div>
            <div class="jr-footer-box-policy-detail-item">Đổi & trả hàng</div>
            <div class="jr-footer-box-policy-detail-item">Thanh toán</div>
          </div>
        </div>
        <div class="jr-footer-box-newest">
          <div class="jr-footer-box-newest-header">NHẬN TIN MỚI NHẤT</div>
          <div class="jr-footer-box-newest-info">
            Đăng ký theo dõi để cập nhật những tin tức mới nhanh nhất và nhiều
            chương trình khuyến mãi từ cữa hàng của chúng tôi.
          </div>
          <div class="jr-footer-box-newest-email">
            <input
              type="text"
              placeholder="Nhập email của bạn"
              class="jr-footer-box-newest-email-input"
            />
            <div class="jr-footer-box-newest-email-button">
              <img src="../Payment/Email.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="./Footer.ts"></script>
</html>
